<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>{% if content.html_title and content.html_title != "" %}{{ content.html_title }}{% else %}{{ content.body.subject }}{% endif %}</title>
        <meta property="og:title" content="{% if content.html_title and content.html_title != "" %}{{ content.html_title }}{% else %}{{ content.body.subject }}{% endif %}">
        <meta name="twitter:title" content="{% if content.html_title and content.html_title != ""%}{{ content.html_title }}{% else %}{{ content.body.subject }}{% endif %}">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        {% if content.meta_description %}<meta name="description" content="{{ content.meta_description }}"/>{% endif %}
    

    <style type="text/css" id="hs-inline-css">
        body{
            margin:0;
            padding:0;
            font-family: sans-serif;
        }
        h1,h2,h3,h4,h5,h6,a,p{
            margin:0;
            padding:0;
            font-family: sans-serif;
        }
        td.main-content{
            box-shadow:inset 0 0 10px 10px #ddd;
        }
        td.social-icons a img{
            padding:0 5px;
            width:40px;
        }
        table.sub-container{
            width:93%;
        }
        td.gap{
            display:none;
        }

        
        
        @media screen and (max-width:640px){
            table.container{
                width:480px !important;
            }
            .spacing-item{
                display: none !important;
            }
            .social{
                text-align: center !important;
            }

        }	@media screen and (max-width:640px){
            table.small-container{
                width:100% !important;
                text-align:center !important;
            }

        }	@media screen and (max-width:640px){
            .logo{
                text-align: center !important; 
                              
            }

        }	@media screen and (max-width:640px){
            .social-icons{
                text-align:center !important;
            }

        }	@media screen and (max-width:640px){
            td.gap{
                display:block !important;
            }

        }	@media screen and (max-width:640px){
            table.sub-container2{
                width:100% !important;
            }

        }	@media screen and (max-width:640px){
            td.big-footer{
                padding:0 10px !important;
            }

        }	@media screen and (max-width:510px){
            table.container{
                width:90% !important;
            }

        }	@media screen and (max-width:400px){
            table.container{
                width:90% !important;
            }

        }</style></head>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
           
            <table class="container" width="680" border="0" cellpadding="0"  style="background-color: #fff;" cellspacing="0" bgcolor="#fff">
                <tr>
                    <td align="center">
                        <table class="sub-container" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td height="10">

                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="vertical-align: middle;">
                                    <table class="small-container" style="vertical-align: middle;" width="32.70%" border="0" cellpadding="0" cellspacing="0" align="left">
                                        <tr>
                                            <td height="5"></td>
                                        </tr>
                                       
                                        <tr>
                                            <td align="left" style="padding:20px;background-color: #5095fa; color: #fff;" class="social">
                                                <img src="https://raw.githubusercontent.com/ShahjalalK/Bizbrain-Technologies-Email-Template/master/image/logo.png" alt="" width="130">
                                                <div style="background-color: transparent; color: transparent; font-size: 15px;">.</div>
                                                        <p style="line-height: 120%; font-size: 17px;">SUP Business</p>
                                                        <p style="line-height: 120%; font-size: 17px;">Network for</p>
                                                        <p style="line-height: 120%; font-size: 17px;">Supply Chain</p>
                                                        <h3 style="text-transform: uppercase; line-height: 170%; font-size: 18px;"> Newsletter</h3>
                                            </td>
                                        </tr>
                                        
                                    </table>


                                    <table class="small-container spacing-item" style="vertical-align: middle;" width="1%" border="0" cellpadding="0" cellspacing="0" align="left">
                                        <tr>
                                            <td style="height: 190px;" class="spacing-item"></td>
                                        </tr>                                       
                                        
                                    </table>
                                                                      
                                    
                                    
                                    <table class="small-container" width="66.30%" style="vertical-align: middle;" border="0" cellpadding="0" cellspacing="0" align="right">
                                        <tr>
                                            <td height="5"></td>
                                        </tr>
                                        
                                        <tr>
                                            <td>
                                                <table style="background: url(https://raw.githubusercontent.com/ShahjalalK/Bizbrain-Technologies-Email-Template/master/image/banner.png); width: 100%; background-repeat: no-repeat; background-size: 100% 195px; height: 195px; background-position: top bottom; overflow: hidden;">
                                                    <tr>
                                                        <td style="width: 100%; height: 180px;">
                                                            <!-- <img src="https://raw.githubusercontent.com/ShahjalalK/Bizbrain-Technologies-Email-Template/master/image/banner.png" alt="" style="width: 100%; height: 200px;"> -->
                                                        </td>
                                                    </tr>
                                                   
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                  
                                </td>
                            </tr>
                            
                        </table>
                    </td>
                </tr>
            </table> 
            <table class="container" width="680" border="0" cellpadding="0"  style="background-color: #fff;" cellspacing="0" bgcolor="#fff">
                <tr>
                    <td align="center">
                        <table class="sub-container" border="0" cellpadding="0" cellspacing="0">
                            
                            <tr>
                                <td align="center">
                                    <table class="small-container" width="32.70%" border="0" cellpadding="0" cellspacing="0" align="left">
                                        <tr>
                                            <td height="5"></td>
                                        </tr>
                                       
                                        <tr>
                                            <td style="padding:20px;background-color: #e4e9ed;">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <img src="https://raw.githubusercontent.com/ShahjalalK/Bizbrain-Technologies-Email-Template/master/image/icon_01_scc.png" alt="" width="48">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:14px;color:#222;font-weight:700;">{% content_attribute "email_body" %}
                                                            7 new ISBN for Supply chain customers in last 14  months!
                                                            {% end_content_attribute %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:13px;color:#000;">
                                                            {% content_attribute "email_body" %} <p> Bizbrain has continued to grow in 
                                                                the supplier collaboration space 
                                                                with new customers Like Honda, 
                                                                Komatsu, Fresenius Medical, 
                                                                Unilever, Apple, Hewlett Packard 
                                                                and more.. </p>
                                                                {% end_content_attribute %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="20"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:12px;color:#000;"> 
                                                            <button style="background:#ec2b2e;padding:7px 8px; text-decoration:none;color:#fff;text-transform:uppercase;font-weight:600;font-size:12px; outline: none; border: none;">
                                                                
                                                                <a href="https://8661272.fs1.hubspotusercontent-na1.net/hubfs/8661272/Ariba%20Collaboration/Bizbrain_SAP_Business_Network_for_SC_7Projects%20(1).pdf" 
                                                                target="_blank"
                                                                style="text-decoration: none; outline: none; color: #fff;" >
                                                                LEARN MORE
                                                               
                                                            </a>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    
                                                </table>
                                            </td>
                                        </tr>
                                        
                                    </table>
                                    <table class="small-container spacing-item" width="0.95%" border="0" cellpadding="0" cellspacing="0" align="left">
                                        <tr>
                                            <td height="5" class="spacing-item"></td>
                                        </tr>                                       
                                        
                                    </table>
                                                                      
                                    <table class="small-container" width="32.70%" border="0" cellpadding="0" cellspacing="0" align="left">
                                        <tr>
                                            <td height="5"></td>
                                        </tr>
                                        
                                        <tr>
                                            <td style="padding:20px;background-color: #e4e9ed;">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <img src="https://raw.githubusercontent.com/ShahjalalK/Bizbrain-Technologies-Email-Template/master/image/icon_02.png" alt="" width="50">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:14px;color:#222;font-weight:700;">{% content_attribute "email_body" %}
                                                            4 successfull projects already delivered
                                                            {% end_content_attribute %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:13px;color:#000;">
                                                            {% content_attribute "email_body" %}
                                                           <p>Bizbrain successfully delivers ISBN 
                                                            for Supply chain at Honda, 
                                                            Komatsu, Fresenius Medical, HP. 
                                                            Benefits include Improved 
                                                            operational efficiency, productivity 
                                                            and more. </p>
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                            &nbsp;
                                                           {% end_content_attribute %}

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="20"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:12px;color:#000;">
                                                            <button style="background:#ec2b2e;padding:7px 8px; text-decoration:none;color:#fff;text-transform:uppercase;font-weight:600;font-size:12px; outline: none; border: none;">
                                                                
                                                                <a href="https://8661272.fs1.hubspotusercontent-na1.net/hubfs/8661272/Ariba%20Collaboration/Bizbrain_SAP_Business_Network_for_SC_Projects_2023.pdf" 
                                                                target="_blank"
                                                                style="text-decoration: none; outline: none; color: #fff;" >
                                                                LEARN MORE
                                                               
                                                            </a>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                   
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    
                                    <table class="small-container" width="32.70%" border="0" cellpadding="0" cellspacing="0" align="right">
                                        <tr>
                                            <td height="5"></td>
                                        </tr>
                                        
                                        <tr>
                                            <td style="padding:20px;background-color: #e4e9ed;">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <img src="https://raw.githubusercontent.com/ShahjalalK/Bizbrain-Technologies-Email-Template/master/image/icon_03.png" alt="" width="55">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:14px;color:#000;font-weight:700;">{% content_attribute "email_body" %}
                                                            Projects starting in Q2, FY 23!
                                                            {% end_content_attribute %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:13px;color:#000;">
                                                            {% content_attribute "email_body" %}
                                                           <p> Bizbrain plans to start 3 new 
                                                            projects in Q2, in pipeline are

                                                        </p>
                                                        <ul>
                                                            <li style="list-style: none;">- Unilever</li>
                                                            <li style="list-style: none;">- Apple Inc</li>
                                                            <li style="list-style: none;">- SC Johnson</li>
                                                        </ul>  
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                            {% end_content_attribute %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="20"></td>
                                                    </tr>
                                                   
                                                    
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                  
                                </td>
                            </tr>
                            
                        </table>
                    </td>
                </tr>
            </table>

            <table class="container" width="680" border="0" cellpadding="0"  style="background-color: #fff;" cellspacing="0" bgcolor="#fff">
                <tr>
                    <td align="center">
                        <table class="sub-container" border="0" cellpadding="0" cellspacing="0">
                            
                            <tr>
                                <td align="center">
                                    <table class="small-container" width="32.70%" border="0" cellpadding="0" cellspacing="0" align="left">
                                        <tr>
                                            <td height="5"></td>
                                        </tr>
                                       
                                        <tr>
                                            <td style="padding:20px;background-color: #e4e9ed;">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <img src="https://raw.githubusercontent.com/ShahjalalK/Bizbrain-Technologies-Email-Template/master/image/icon_04.png" alt="" width="40">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:14px;color:#222;font-weight:700;">{% content_attribute "email_body" %}
                                                            Bizbrain ISBN for SCC Whitepapers!
                                                            {% end_content_attribute %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:13px;color:#000;">
                                                            {% content_attribute "email_body" %}
                                                            <p>Bizbrain whitepapers on moving 
                                                                SNC customers to ISBN SC.</p>
                                                                <ol>
                                                                    <li>Whitepaper 1 – Business 
                                                                        benefits for customers on 
                                                                        moving to ISBN for supply 
                                                                        chain. </li>
                                                                    <li>Whitepaper 2 – catered to the 
                                                                        customers IT teams on 
                                                                        technical migration </li>
                                                                  </ol>
                                                            {% end_content_attribute %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="20"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:12px;color:#000;">
                                                            <button style="background:#ec2b2e;padding:7px 8px; text-decoration:none;color:#fff;text-transform:uppercase;font-weight:600;font-size:12px; outline: none; border: none;">
                                                                
                                                                <a href="https://landing.bizbraintech.com/bizbrain-whitepaper-i-and-ii" 
                                                                target="_blank"
                                                                style="text-decoration: none; outline: none; color: #fff;" >
                                                                LEARN MORE
                                                               
                                                            </a>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    
                                                </table>
                                            </td>
                                        </tr>
                                        
                                    </table>
                                    <table class="small-container spacing-item" width="0.95%" border="0" cellpadding="0" cellspacing="0" align="left">
                                        <tr>
                                            <td height="5" class="spacing-item"></td>
                                        </tr>                                       
                                        
                                    </table>
                                                                      
                                    <table class="small-container" width="32.70%" border="0" cellpadding="0" cellspacing="0" align="left">
                                        <tr>
                                            <td height="5"></td>
                                        </tr>
                                        
                                        <tr>
                                            <td style="padding:20px;background-color: #e4e9ed;">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <img src="https://raw.githubusercontent.com/ShahjalalK/Bizbrain-Technologies-Email-Template/master/image/icon_05.png" alt="" width="60">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:14px;color:#222;font-weight:700;">{% content_attribute "email_body" %}
                                                            Partnership of the Future!
                                                            {% end_content_attribute %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:13px;color:#000;">
                                                           {% content_attribute "email_body" %} 
                                                           <p>The Nitor & Bizbrain partnership 
                                                            will combine SAP Supply Chain 
                                                            planning best practices with SAP 
                                                            Procurement expertise along with 
                                                            organizational change 
                                                            management (OCM) to 
                                                            significantly improve the success 
                                                            rate of our clients</p>
                                                            &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                           {% end_content_attribute %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="20"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:12px;color:#000;">
                                                            <button style="background:#ec2b2e;padding:7px 8px; text-decoration:none;color:#fff;text-transform:uppercase;font-weight:600;font-size:12px; outline: none; border: none;">
                                                                
                                                                <a href="https://www.prnewswire.com/new/" 
                                                                target="_blank"
                                                                style="text-decoration: none; outline: none; color: #fff;" >
                                                                LEARN MORE
                                                               
                                                            </a>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                   
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    
                                    <table class="small-container" width="32.70%" border="0" cellpadding="0" cellspacing="0" align="right">
                                        <tr>
                                            <td height="5"></td>
                                        </tr>
                                        
                                        <tr>
                                            <td style="padding:20px;background-color: #e4e9ed;">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <img src="https://raw.githubusercontent.com/ShahjalalK/Bizbrain-Technologies-Email-Template/master/image/icon_06.png" alt="" width="50">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:14px;color:#222;font-weight:700;">{% content_attribute "email_body" %}
                                                            ISBN for Supply chain Accelerators!
                                                            {% end_content_attribute %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:13px;color:#000;">
                                                            {% content_attribute "email_body" %}     
                                                           <p>Bizbrain offers 4 accelerator 
                                                            packages for ISBN for supply 
                                                            chain </p>
                                                            <ol>
                                                                <li>RVR SNC2SCC</li>
                                                                <li>RVR Network Collaboration</li>
                                                                <li>RVR Planning Collaboration </li>
                                                                <li>RVR ISBN4SC foundation 
                                                                    Option</li>
                                                            </ol>
                                                            &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                            {% end_content_attribute %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="20"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:12px;color:#000;">
                                                            <button style="background:#ec2b2e;padding:7px 8px; text-decoration:none;color:#fff;text-transform:uppercase;font-weight:600;font-size:12px; outline: none; border: none;">
                                                                
                                                                <a href="https://8661272.fs1.hubspotusercontent-na1.net/hubfs/8661272/Ariba%20Collaboration/Bizbrain_RVR_SAP_Solutions.pdf" 
                                                                target="_blank"
                                                                style="text-decoration: none; outline: none; color: #fff;" >
                                                                LEARN MORE
                                                               
                                                            </a>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                   
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                  
                                </td>
                            </tr>
                            <tr>
                                <td height="5"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            
            
           
            
            <table class="container" width="640" border="0" cellpadding="0" cellspacing="0" style="background: url('https://raw.githubusercontent.com/ShahjalalK/Bizbrain-Technologies-Email-Template/master/image/footer-banner.png'); background-color: #000; background-position: left right; background-size: 100%; background-repeat: no-repeat;" bgcolor="#333333">
                <tr>
                    <td height="20"></td>
                </tr>
                <tr>
                    <td align="left" style="color:#fff;font-size:16px; font-weight: bold; padding: 0 20px;" class="social">
                        <a href="https://www.linkedin.com/company/bizbrain-technologies/" target="_blank" style="text-decoration: none; color: #ddd;">
                            <img style="vertical-align: middle;" src="https://raw.githubusercontent.com/ShahjalalK/Bizbrain-Technologies-Email-Template/master/image/linkedin.png" alt="" width="24">
                            <span style="vertical-align: middle; margin-left: 5px;">Follow us on <span style="color: #0072b1;">Linkedin</span> </span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td height="20"></td>
                </tr>
            </table>
            <table class="container" width="640" border="0" cellpadding="0" cellspacing="0" style="background-color: #fff;" bgcolor="#fff">
                <tr>
                    <td height="20"></td>
                </tr>
                <tr>
                    <td align="center" style="font-size:14px; text-align: center;">
                        
                        <p id="footer" style="padding-bottom: 10px; color: #000;">
                        {{ subscription_name }} &nbsp;
                        {{ site_settings.company_name }}&nbsp;
                        {{ site_settings.company_street_address_1 }}&nbsp;
                        {{ site_settings.company_street_address_2 }}&nbsp;
                        {{ site_settings.company_city }}&nbsp;
                        {{ site_settings.company_state }}&nbsp;
                        {{ site_settings.company_zip }}&nbsp;
                        {{ site_settings.company_country }}&nbsp;                    
                    </p>
                        <a class="hubspot-mergetag" data-unsubscribe="true" href="{{ unsubscribe_link }}"></a>                       
                        <a class="hubspot-mergetag" data-unsubscribe="true" href="{{ unsubscribe_link_all }}" style="text-decoration: underline; color: #0072b1;">Unsubscribe Manage preferences</a>
                    </td>
                </tr>
                <tr>
                    <td height="20"></td>
                </tr>
            </table>
            
        </td>
    </tr>
</table>
</body>
</html>